newapp/erpweb-mvc/backend/Service References/ContainerLoadService/ContainerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ContainerLoadingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ContainerLoadingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CargoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CargoList" nillable="true" type="tns:ArrayOfCargoUnit" />
      <xs:element minOccurs="0" name="ContainerTypes" nillable="true" type="tns:ArrayOfContainerTypeInfo" />
      <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:ArrayOfGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargoInfo" nillable="true" type="tns:CargoInfo" />
  <xs:complexType name="ArrayOfCargoUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CargoUnit" nillable="true" type="tns:CargoUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCargoUnit" nillable="true" type="tns:ArrayOfCargoUnit" />
  <xs:complexType name="CargoUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="Length" type="xs:double" />
      <xs:element minOccurs="0" name="MaxWeightOnTop" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
      <xs:element minOccurs="0" name="Width" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargoUnit" nillable="true" type="tns:CargoUnit" />
  <xs:complexType name="ArrayOfContainerTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContainerTypeInfo" nillable="true" type="tns:ContainerTypeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContainerTypeInfo" nillable="true" type="tns:ArrayOfContainerTypeInfo" />
  <xs:complexType name="ContainerTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="Length" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContainerTypeInfo" nillable="true" type="tns:ContainerTypeInfo" />
  <xs:complexType name="ArrayOfGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroup" nillable="true" type="tns:ArrayOfGroup" />
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
  <xs:complexType name="CalculationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Containers" nillable="true" type="tns:ArrayOfLoadedContainer" />
      <xs:element minOccurs="0" name="TimeElapsed" type="xs:double" />
      <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculationResult" nillable="true" type="tns:CalculationResult" />
  <xs:complexType name="ArrayOfLoadedContainer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoadedContainer" nillable="true" type="tns:LoadedContainer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoadedContainer" nillable="true" type="tns:ArrayOfLoadedContainer" />
  <xs:complexType name="LoadedContainer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemCount" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Segments" nillable="true" type="tns:ArrayOfLoadedContainerSegment" />
      <xs:element minOccurs="0" name="VolumePercentage" type="xs:double" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadedContainer" nillable="true" type="tns:LoadedContainer" />
  <xs:complexType name="ArrayOfLoadedContainerSegment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoadedContainerSegment" nillable="true" type="tns:LoadedContainerSegment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoadedContainerSegment" nillable="true" type="tns:ArrayOfLoadedContainerSegment" />
  <xs:complexType name="LoadedContainerSegment">
    <xs:sequence>
      <xs:element minOccurs="0" name="HeightQty" type="xs:int" />
      <xs:element minOccurs="0" name="ItemCount" type="xs:int" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LengthQty" type="xs:int" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="WidthQty" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadedContainerSegment" nillable="true" type="tns:LoadedContainerSegment" />
</xs:schema>